[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pyclustering = "*"
scikit-learn = "*"
scikit-learn-extra = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
